$oldBase: #0090c1;
$oldLight: #17a3d1;
$oldDark: #005b7a;
$oldText: #1f4859;
$oldDisabled : #577683;
$oldGrad: linear-gradient(103.13deg, #0090c1 2.06%, #006ba8 98.62%);
$oldGradHover: linear-gradient(103.13deg, #007ea8 2.06%, #005e94 98.62%);

// $base: #9d0208;
// $light: #B30D13;
// $dark: #7E0509;
// $text: #242424;
// $disabled : #835051;
// $grad: linear-gradient(103.13deg, $base 2.06%, #790004 98.62%);
// $gradHover: linear-gradient(103.13deg, $base 2.06%, $dark 98.62%);
$danger: red;

$base: #0090c1;
$light: #17a3d1;
$medium: #92b3c9;
$veryLight: #f5faff;
$dark: #005b7a;
$text: #1f4859;
$disabled : #577683;
$grad: linear-gradient(103.13deg, $base 2.06%, #790004 98.62%);
$lightGrad: linear-gradient(103.13deg, #0090c1 2.06%, #006ba8 98.62%);
$gradHover: linear-gradient(103.13deg, #007ea8 2.06%, #005e94 98.62%);

// $base: #6a040f;
// $light: #870b18;
// $veryLight: #fff3f4;
// $dark: #4d020a;
// $text: #242424;
// $disabled : #835051;
// $grad: linear-gradient(103.13deg, $base 2.06%, #790004 98.62%);
// $lightGrad: linear-gradient(103.13deg, $light 2.06%, #9e2327 98.62%);
// $gradHover: linear-gradient(103.13deg, $base 2.06%, $dark 98.62%);

$datepicker-shadow: none;
$datepicker-radius: 15px;

$shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;


$warmWhite: #f5faff;
// $warmWhite: #fdf9f8;